synonym
organism
organismPart
strain
sex
host
cellType
species
isolationSource
diseaseState
sourceName
environmentBiome
environmentMaterial
environmentFeature
genotype
sampleType
developmentStage
developmentalStage
cultivar
material
ethnicity
race
title
sequencingMethod
hostSex
country
hostDisease
hostCommonName
commonName
environmentalPackage
subSpecies
project
hostScientificName
sampleCollectionDeviceOrMethod
sourceMaterialIdentifiers
diet
envMaterial
hostStatus
hostTissueSampled
targetedcelltype
healthState
